<% include partials/header %>

<div class="container">
    <div class="row">
<h1 style="text-align: center">ADD A COMMENT</h1>
<div style="width:30%;margin:30px auto" >
<form action="/campgrounds/<%= y %>/commentform" method="POST">

 <div class="form-group">
    <textarea rows="4" class="form-control"  type="text" name="x[text]" placeholder="enter the comment"></textarea>
</div>
    <button class="btn btn-lg btn-primary btn-block">submit</button>
</form>
<button class="btn btn-md btn-default" style="border: none"><a href="/campgrounds/<%= y %>/">Go Back</a></button>

</div>
</div>
</div>
<% include partials/footer %>