<%include partials/header1 %>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST" >
        <div class="field">
            <label >Title</label>
    <input type="text" name="blogt" placeholder="title">
</div><div class="field">
        <label >image</label>
    <input type="text" name="blogi" placeholder="image url">
</div><div class="field">
        <label >description</label>
        <textarea name="blogb" cols="30" rows="4" placeholder="description"></textarea>
   </div>
    <button class="ui violet basic button">Submit</button>
    </form>
</div>
<%include partials/footer %>
